h1 {
    color: blue;
    border: 2px dotted powderblue;
    padding: 10px;
    margin: 50px;
}
.Default:link{
    color:green;
    background-color: transparent;
    text-decoration: none;
}
.Default:visited{
    color:pink;
    background-color: transparent;
    text-decoration: none;
}
.Default:hover{
    color:red;
    background-color: transparent;
    text-decoration: underline;
}
.Default:active{
    color: yellow;
    background-color: transparent;
    text-decoration: underline;
}
.Button_link:link, .Button_link:visited{
    background-color: #f44336;
    color: white;
    padding: 15px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}
.Button_link:hover, .Button_link:active {
    background-color: red;
}
.Gojo{
    width: 200px;
    height: 250px;
    float: left;
}
.part2{
    background-image: url("C:\Users\henry\Pictures\viber_image_2022-05-19_14-41-56-392.jpg");
}
table, th, td{
    border: 2px solid black;
    border-radius: 20px;
}
.gg{
    border-collapse: collapse;
    background-color: #96D4D4;
}
th, td{
    border-color: rebeccapurple;
    padding: 5px;
    padding-top: 20px;
}
table{
    border-spacing: 6px;
}
.kruto{
    border-color: rgba(0, 0, 0, 0);
    padding: 0px;
    padding-top: 0px;
    border: 0px;
    border-radius: 0px;
    border-collapse:collapse;
    border-bottom: 1px solid #ddd;
    tr:hover{background-color: #D6EEEE;}
}
.tt{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333333;
    width: 295px;
}
.tt li{
    float: left;
}
.tt li a {
    display: block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
}  
.tt li a:hover {
    background-color: #111111;
}
.main{
    background-color: aqua;
    font-style: italic;
}
#Dobro{
    width: 300px;
    font-family: Verdana;
    font-size: xx-large;
    background-color: green;
}
iframe{
    width: 500px;
    height: 300px;
    border: none;
}